@inherits RazorComponentBase
@page "/receipt"



<div class="d-flex justify-content-center" style="height:100vh">
    <div class="col-10 card">
        <div class="card-body">
            <div class="d-flex justify-content-between">
                <div class="width-50">

                    <div style="height:200px">
                        <h2 class="text-primary fw-bold text-left"> Yelim Ecza Ltd.</h2>
                        <p>
                            Gültekin Şengör Sokak, Aküç Apt. Kumsal / Lefkoşa (Araç Kayıt Dairesi karşı yolu, Mamulcuoğlu karşısı, Keros Kuru Temizleme yanı)
                        </p>
                        <label class="d-block">  0 539 111 07 77 </label>
                        <label class="d-block">  0 (392) 228-78-66 </label>
                    </div>
                    <div class="mt-5 width-90 justify-content-center">

                        <table class="table table-bordered table-striped">
                            <thead class="bg-primary">
                                <tr>
                                    <th class="text-light width-60">Faturalanacak Kişi/Şirket</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>X Şirket</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="width-50">
                    <div style="height:200px">
                        <h2 class="text-primary fw-bold text-right">Fatura No: 000001</h2>
                    </div>

                    <div class="width-100 d-flex justify-content-center">
                        <table class="table table-bordered table-striped mt-5">
                            <thead class="bg-primary">
                                <tr>
                                    <th class="text-light width-60">Fatura Numarası</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Data</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                    <div class="width-100 d-flex justify-content-center">
                        <table class="table table-bordered table-striped mt-5">
                            <thead class="bg-primary">
                                <tr>
                                    <th class="text-light">Müşteri Bilgileri</th>
                                    <th class="text-light">Isim Soyisim</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td>Data</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>


                </div>
            </div>

            <div class="d-flex justify-content-center ">
                <table class="table table-bordered table-striped mt-5">
                    <thead class="bg-primary">
                        <tr>
                            <th class="text-light"> İsim</th>
                            <th class="text-light">Miktar</th>
                            <th class="text-light width-15">Birim Fiyat</th>
                            <th class="text-light width-15">Toplam</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Deneme123</td>
                            <td>3</td>
                            <td>15.55TRY</td>
                            <td>15.55TRY</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td>Toplam</td>
                            <td>15.55TRY</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td>Kdv %8</td>
                            <td>15.55TRY</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td>Genel Toplam</td>
                            <td>15.55TRY</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@*
<div class="d-flex flex-row-reverse">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Ana Sayfa</a></li>
            <li class="breadcrumb-item ">Fatura</li>
        </ol>
    </nav>
</div>




<div class="row justify-content-center mt-4">
    <div class="col-11 card">
        <div class="card-body d-flex flex-sm-wrap flex-wrap">
                <div class="col-xl-2 col-lg-4 col-md-6 col-sm-12 col-12 col-xs-12 text-center">
                    <button class="btn @(IsButtonActive(PageType.List)) width-90" @onclick="@(()=>ChangePage(PageType.List))">
                        Fatura Listesi
                    </button>
                </div>
        </div>
    </div>
</div>
*@
