@inherits RazorComponentBase
@page "/product"

<div class="d-flex flex-row-reverse">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Ana Sayfa</a></li>
            <li class="breadcrumb-item ">Ürün</li>
        </ol>
    </nav>
</div>

<div class="row justify-content-center">
    <div class="col-11 card">
        <div class="card-body">
            <div class="d-flex justify-content-start">
                <div class="width-15 text-center">
                    <button class="btn @(IsButtonActive(PageType.Insert)) width-90" @onclick="@(()=>ChangePage(PageType.Insert))">
                        Ürün Tanımlama
                    </button>
                </div>
                <div class="width-15 text-center">
                    <button class="btn @(IsButtonActive(PageType.List)) width-90" @onclick="@(()=>ChangePage(PageType.List))">
                        Ürün Listesi
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

@switch (PageType)
{
    case PageType.Main:
        break;
    case PageType.Insert:
        <CreateProduct />
        break;
    case PageType.List:
        <ListComponent />
        break;
   

}



