@inherits RazorComponentBase

<div class="row justify-content-center mt-4">
    <div class="col-11 card">
        <div class="card-body">
            <div class="d-flex flex-row-reverse">
                <div class="width-25">
                    <input type="text" placeholder="Ara..." class="form-control" />
                </div>
                <div class="width-5 text-center pe-2">
                    <button class="btn btn-outline-primary width-100 ">
                        <i class="fas fa-solid fa-magnifying-glass"></i>
                    </button>
                </div>
            </div>
            <div class="d-flex mt-4">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Ürün İsmi</th>
                            <th>Kategori</th>
                            <th>Stok</th>
                            <th class="width-10"></th>
                        </tr>

                    </thead>
                    <tbody>
                        <tr>
                            <td>Veri</td>
                            <td>Veri</td>
                            <td>Veri</td>
                            <td class="d-flex justify-content-evenly">
                                <button class="btn btn-outline-danger">
                                    <i class="fas fa-solid fa-trash"></i>
                                </button>
                                <button class="btn btn-outline-secondary">
                                    <i class="fa-solid fa-gear"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>