@inherits RazorComponentBase


<div class="col-12 card shadow mt-4">
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <table class="table table-bordered">
                    <thead>
                        <tr class="text-center">
                            <th>Alış Tarihi</th>
                            <th>Alış Fiyatı</th>
                            <th>Adet</th>
                            <th>Toplam Fiyat</th>
                            <th class="width-10">Fatura Detay</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="text-center">
                            <td>data</td>
                            <td>data</td>
                            <td>data</td>
                            <td>data</td>
                            <td>
                                <button class="btn btn-outline-secondary">
                                    <i class="fa-solid fa-file-invoice"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>