@inherits RazorComponentBase

<div class="row justify-content-center mt-4">
    <div class="col-11 card">
        <div class="card-body">
            <div class="d-flex flex-sm-wrap flex-wrap">
                <div class="col-12 col-sm-12 col-lg-6 col-md-12 col-6">
                    <p>
                        Kategori İsmi
                    </p>
                    <input maxlength="100" placeholder="Kategori İsmi" type="text" @bind="@Category.Name" class="form-control" />
                </div>
                <div class="col-12 col-sm-12  col-md-12 col-6 ml-lg-6 mt-lg-4">
                    <p>
                        Kategori Açıklama
                    </p>
                    <textarea rows="5" maxlength="200" class="form-control" @bind="@Category.Description" placeholder="Ürün Açıklama">

                    </textarea>
                </div>

            </div>
            <div class="d-flex flex-row-reverse mt-4">
                <div class="width-25 col-12 col-sm-12 col-m-3 col-lg-3">
                    <button class="btn btn-primary width-100" @onclick="Submit">
                        Kaydet
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    @@media 
</style>


