@inherits RazorComponentBase

<div class="row justify-content-center mt-4">
    <div class="col-11 card">
        <div class="card-body">
            <div class="d-flex">
                <div class="width-20">
                    <p>
                        Kategori İsmi
                    </p>
                    <input placeholder="Kategori İsmi" type="text" class="form-control" />
                </div>
                <div class="width-40 ml-4">
                    <p>
                        Kategori Açıklama
                    </p>
                    <textarea rows="5" class="form-control" placeholder="Ürün Açıklama">

                    </textarea>
                </div>

            </div>
            <div class="d-flex flex-row-reverse">
                <div class="width-25">
                    <button class="btn btn-primary width-100" @onclick="Submit">
                        Kaydet
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


