@inherits RazorComponentBase
@page "/category"

<div class="d-flex flex-row-reverse">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Ana Sayfa</a></li>
            <li class="breadcrumb-item ">Kategori</li>
        </ol>
    </nav>
</div>