@inherits RazorComponentBase

@if (ShowLoader)
{
    <Loader IsLoading="@ShowLoader" />
}
<div class="row justify-content-center mt-4">
    <div class="col-11 card">
        <div class="card-body">
            <div class="d-flex flex-row-reverse flex-sm-wrap flex-wrap">
                <div class="col-md-3 col-sm-10 col-12">
                    <input type="text" placeholder="Ara..." class="form-control" data-toggle="tooltip" data-placement="top" title="Kategori Ismine Göre Ara." />
                </div>
                <div class="col-md-1 col-12 col-sm-2 text-center pe-lg-2  search-category">
                    <button class="btn btn-outline-primary width-100 ">
                        <i class="fas fa-solid fa-magnifying-glass"></i>
                    </button>
                </div>
            </div>
            <div class="d-flex mt-4">
                <table class="table table-bordered responsive-table">
                    <thead>
                        <tr>
                            <th class="width-10">Kategori İsmi</th>
                            <th class="width-25">Açıklama</th>
                            <th class="width-5">Aktif/Pasif</th>
                            <th class="width-5"></th>
                        </tr>

                    </thead>
                    <tbody>
                        @if (Categories != null && Categories.Any())
                        {
                            @foreach (var item in Categories)
                            {
                                <tr>

                                    <td>@item.Name</td>
                                    <td>
                                        @item.Description
                                    </td>
                                    <td class="text-center">
                                        @if (item.IsActive)
                                        {
                                            <div class="form-check form-switch">
                                                <input @onclick="()=>ChangeStatus(item.Id)" class="form-check-input cursor-pointer" type="checkbox" id="flexSwitchCheckDefault" checked>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="form-check form-switch">
                                                <input @onclick="()=>ChangeStatus(item.Id)" class="form-check-input cursor-pointer" type="checkbox" id="flexSwitchCheckDefault">
                                            </div>
                                        }
                                    </td>
                                    <td class="d-flex justify-content-evenly">
                                        <button class="btn btn-outline-secondary" @onclick="()=>Modify(item.Id)">
                                            <i class="fa-solid fa-gear"></i>
                                        </button>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<TKIM.Panel.Layout.Component.Modal Id="CategoryModalId">
    <Body>
        <ModifyComponent Id="SelectedEmployeeId" OnSubmit="LoadData"></ModifyComponent>
    </Body>
</TKIM.Panel.Layout.Component.Modal>

<style>
    /* Ensure ellipsis for overflow text in table cells */
td {
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* Media query for screens smaller than or equal to 574px */
@@media (max-width: 574px) {
    .search-category {
        margin-top: 10px; /* Adjust margin for small screens */
    }
}

/* Media query for tablets and small desktops */
@@media (max-width: 768px) {
    .responsive-table {
        display: block; /* Display block to enable horizontal scrolling */
        overflow-x: auto; /* Allow horizontal scrolling */
        white-space: nowrap; /* Prevent wrapping inside table */
    }
}

</style>