@inherits RazorComponentBase



<div class="row justify-content-center mt-4 ">
    <div class="col-11 card">
        <div class="card-body">
            <div class="d-flex">
                <div class="width-25">
                    <p>
                        Müşteri İsmi
                    </p>
                    <input placeholder="Ürün İsmi" type="text" class="form-control" />
                </div>
                <div class="width-25 ml-4">
                    <p>
                        Müşteri Soyisim
                    </p>
                    <input type="text" class="form-control" />
                </div>
                <div class="width-25 ml-4">
                    <p>
                        Telefon Numarası
                    </p>
                    <input type="text" class="form-control" />

                </div>
                <div class="width-25 ml-4">
                    <p>
                        E-Posta
                    </p>
                    <input type="text" class="form-control" />
                </div>

            </div>
            <div class="d-flex mt-5">
                <div class="width-25">
                    <p> Adres</p>
                    <input type="text" class="form-control" />
                </div>
                <div class="width-25 ml-4">
                    <p>
                        Açıklama
                    </p>
                    <textarea class="form-control" />
                </div>
                <div class="width-25 ml-4">
                </div>
                <div class="width-25 ml-4">
                </div>
            </div>
            <div class="d-flex flex-row-reverse mt-5">
                <div class="width-20 text-center">
                    <button class="btn btn-outline-primary width-75">
                        Kaydet
                    </button>
                </div>

            </div>
        </div>
    </div>
</div>