
@inherits RazorComponentBase

<div class="form-control d-flex">
    @Type
    <input type="number" @bind-value="@DecimalValue" @bind-value:event="oninput" class="border-0 w-100 @Css" @onchange="OnValueChanged" />
</div>